* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.body{
    font-family: 'Sriracha', cursive;
}

.header{
    text-align: center;
    margin:0.3em;
}

.animalsContainer{
    margin:1em;
    
}

.animalsContainer__item{
    text-align: center;
    border-top: rgb(195, 193, 196) 1px solid;
    padding:1em;
    list-style: none;
}

.deletebtn{
    border:none;
    background-color: antiquewhite;
    padding:0.3em;
    margin:0.3em;
    text-decoration: none;
    color:black;
}
.animalsContainer__details{
    border-bottom:solid 1px rgb(204, 204, 204);
    margin:0.3em;
    text-decoration: none;
    color:black;
}
.animalsContainer__update{
    border-bottom:solid 1px rgb(204, 204, 204);
    margin:0.3em;
    text-decoration: none;
    color:black;
}

.footer{
    text-align: center;
    border-top: rgb(195, 193, 196) 1px solid;
    padding:1em;
}

.btn{
    padding:0.7em;
    text-decoration: none;
    color:black;
    font-size: larger;
}

.backToList{
    text-decoration: none;
    color:black;
    border-bottom:solid 1px rgb(204, 204, 204);
}

.singlefooter{
    margin-left:1em;
}

.single-animal__description{
    border:1px solid rgb(153, 151, 151);
    margin:2em 1em;
}

.single-animal__th{
    background-color: antiquewhite;
    padding:0.5em;
}

.single-animal__td{
  text-align: center;
  padding:0.3em 1em;
  border-bottom: solid 1px rgb(153, 151, 151);
}

.none{
    border-bottom: none;
}

.update{
    margin:3em 0em;
}

.update-form{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    margin:1em;
}

.label {
    background-color: antiquewhite;
    padding:0.2em 0.5em;
    margin-right: 0.5em;
    border:1px solid #fff;
}

input, .sex {
    border:none;
    border-bottom:1px solid rgb(231, 230, 230);
    outline: none;
}

input[type=text]:focus {
    border: 3px solid rgb(209, 209, 209);
}

input[type=number]:focus {
    border: 3px solid rgb(212, 212, 212);
}

.submitbtn{
    border:none;
    margin:1em 3em;
    padding:0.5em 0;
}
